@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('components/code.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; /* if you want the light version */
  background: #2e2e2e;
  background: linear-gradient(245deg, rgb(0, 11, 23) 25%, rgb(31, 31, 0) 100%);
}

h1 {
  color: #0b5394;
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 0.5rem;
}

h2 {
  color: #3d85c6;
  padding-bottom: 0.25rem;
  font-size: 1.25rem;
}

.text-light-blue {
  color: #3d85c6;
}

ul {
  padding-left: 0;
  list-style: none;
}

ul.inline-list > li {
  display: inline;
  padding: 1.5rem;
}

li > div > span {
  color:#bf9000;
  padding-right: 1rem ;
}

li > div > span:not(:last-child) {
  border-right: 1px solid #bf9000 ;
}

a {
  text-decoration: none;
}

a.yellow:hover {
  color: #ffed2c;
}

i {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 0.5rem;
}

i:hover {
  color:#3d85c6;
  transition: 0.5s ease;
}

u {
  font-family: monospace;
}

.container {
  width: 80vw;
}

ul.inline-list > li {
  padding: 0.5rem;
}

li > div > span:not(:last-child) {
  border-right: none ;
}

.card {
  min-width: 320px;
  border-radius: 1rem;
}

.btn-primary {
  background-color: #bf9000;
  border: #af8000;
}



.bolb-mask {
  -webkit-mask-image: url("data:image/svg+xml,<svg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'><path d='M43.8 -76.4C56.7 -68.5 66.9 -56.5 73.7 -43.1C80.6 -29.7 84 -14.8 84.9 0.5C85.8 15.8 84 31.7 77.3 45.4C70.7 59.1 59.1 70.7 45.4 78.1C31.7 85.5 15.8 88.8 0.3 88.2C-15.2 87.6 -30.3 83.2 -43.6 75.5C-56.9 67.9 -68.3 56.9 -77.4 43.8C-86.4 30.7 -93.2 15.3 -93.4 -0.1C-93.5 -15.5 -87 -31 -78.4 -45C-69.9 -59 -59.2 -71.5 -45.8 -79.1C-32.3 -86.7 -16.2 -89.3 -0.3 -88.8C15.5 -88.2 31 -84.4 43.8 -76.46' transform='translate(100 100)'/></svg>");
  mask-image: url("data:image/svg+xml,<svg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'><path d='M43.8 -76.4C56.7 -68.5 66.9 -56.5 73.7 -43.1C80.6 -29.7 84 -14.8 84.9 0.5C85.8 15.8 84 31.7 77.3 45.4C70.7 59.1 59.1 70.7 45.4 78.1C31.7 85.5 15.8 88.8 0.3 88.2C-15.2 87.6 -30.3 83.2 -43.6 75.5C-56.9 67.9 -68.3 56.9 -77.4 43.8C-86.4 30.7 -93.2 15.3 -93.4 -0.1C-93.5 -15.5 -87 -31 -78.4 -45C-69.9 -59 -59.2 -71.5 -45.8 -79.1C-32.3 -86.7 -16.2 -89.3 -0.3 -88.8C15.5 -88.2 31 -84.4 43.8 -76.46' transform='translate(100 100)'/></svg>");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.card {
  padding: 2rem;
  margin: 3rem 3rem 0 3rem;
  border: none;
  width: 50vw;
  min-width: 20rem;
}

.card:last-child {
  margin-bottom: 3rem;
}


@media (min-width: 576px) {

}

@media (min-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }

  }

@media (min-width: 992px) {
  body {
    font-size: 1.25rem;
  }

  .container {
    width: 60rem;
  }


li > div > span {
  color:#bf9000;
  padding-right: 1rem ;
}

li > div > span:not(:last-child) {
  border-right: 1px solid #bf9000 ;
}

}
