/* CSS classes you can use on your table td to display the relevant tile */
* {
  margin: 0;
  padding: 0;
}

body.dark {
  transition: 0.5s linear;
  background-color: #151515;
  color: #fafafa;
}

body.light {
  transition: 0.5s linear;
  background-color: #fafafa;
  color: #151515;
}

.container {
  margin: 2rem auto;
  display: grid;
  justify-content: center;
  max-width: 720px;
}

.icon {
  display: grid;
  justify-self: end;
  height: 40px;
  position: relative;
  background-color: #333;
}

.icon input {
  display: none;
}

.icon label {
  transition: 0.5s linear;
  position: absolute;
  left: -56px;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: #333;
  border: 1px solid white;
  display: block;
  box-shadow: inset 0 0 8px #ff4757, 0 0 12px #ff4757;
}

.icon label::before {
  transition: 0.5s linear;
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ff4757;
  left: 56px;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 8px #ff4757, 0 0 16px #ff4757;
}

.icon i {
  transition: 0.5s linear;
  font-size: 28px;
  position: absolute;
  left: -40px;
  top: 8px;
  color: #333;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2),
  1px -1px 0 rgba(0, 0, 0, 0.2),
  -1px 1px 0 rgba(0, 0, 0, 0.2),
  -1px -1px 0 rgba(0, 0, 0, 0.2);
}

.icon input:checked ~ i {
  color: #add6ff;
  color: white;
  text-shadow: 0 0 2px #add6ff, 0 0 4px #add6ff, 0 0 8px #add6ff;
}

.icon input:checked ~ label {
  background-color: #ccc;
  box-shadow: inset 0 0 8px #add6ff, 0 0 16px #add6ff;
}

.icon input:checked ~ label::before {
  background: white;
  box-shadow: 0 0 8px #add6ff, 0 0 16px #add6ff;
}

#emoji {
  cursor: pointer;
  border: 3px solid #424242;
  padding: 16px 8px 8px 8px;
  border-radius: 4px;
}

h1 {
  margin: 2rem 0;  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

td.unopened {
  background: url('img/unopened.svg');
  cursor: pointer;
}
td.opened {
  background: url('img/opened.svg');
}
td.flagged {
  background: url('img/flag.svg');
}
td.question {
  background: url('img/question.svg');
}
td.mine {
  background: url('img/mine.png'), white;
}
td.mine-neighbour-1 {
  background: url('img/1.svg');
}
td.mine-neighbour-2 {
  background: url('img/2.svg');
}
td.mine-neighbour-3 {
  background: url('img/3.svg');
}
td.mine-neighbour-4 {
  background: url('img/4.svg');
}
td.mine-neighbour-5 {
  background: url('img/5.svg');
}
td.mine-neighbour-6 {
  background: url('img/6.svg');
}
td.mine-neighbour-7 {
  background: url('img/7.svg');
}
td.mine-neighbour-8 {
  background: url('img/8.svg');
}

/* Positioning the Minesweep table and make sure the cells are square */
table #minesweeper {
  margin: auto;
  margin-top: 3em;
  border: 1px solid #999;
  border-collapse: collapse;
}
table #minesweeper td {
  width: 32px;
  height: 32px;
  background-size: cover;
}
