.card {
  padding: 1rem;
  margin: 1rem 1rem 0 1rem;
  border: none;
  width: 80vw;
  min-width: 20rem;
  max-width: 45rem;
  border-radius: 1rem;
}

.card:last-child {
  margin-bottom: 3rem;
}

@media (min-width: 576px) {
  .card {
    padding: 2rem;
    margin: 3rem 3rem 0 3rem;
    border: none;
    width: 80vw;
    min-width: 20rem;
    max-width: 45rem;
    border-radius: 1rem;
  }
}
