.monospace {
  font-family: monospace;
}

h2.monospace {
  font-style: italic;
  color: gray;
}

.code p, a {
  font-size: 0.8rem;
  }

.code-tight p {
  line-height: 1;
  margin-bottom: 4px;
}

.code-loose p {
  line-height: 1.75;
}

.code span {
  display: inline;
  white-space: normal;
}

@media (min-width: 440px) {
  .code p, a {
    font-size:0.85rem;
  }
}

@media (min-width: 530px) {
  .code p, a {
    font-size:1rem;
  }
}

@media (min-width: 639px) {
  .code p, a {
    font-size: 1.15rem;
    }
}

@media (min-width: 700px) {
  .code p, a {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
}
