
.yellow {
  color: #e5b567
}
a.yellow:hover {
  color: #ffeb12;
}

.blue {
  color: #9fc5e8
}
a.blue:hover {
  color: #6fa8dc
}

.white {
  color: #d6d6d6
}
.green {
  color: #b4e273
}
.orange {
  color: #e87d3e
}
.purple {
  color: #9e86c8
}
.pink {
  color: #cb648f
}
.gray {
  color: gray
}
